#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  padding: 0 2em;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  margin-left: 10px;
  float: left;
  line-height: 2.5;
  font-size: 2em;
}

#compose {
  float: right;
  position: relative;
  top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b1e2db;
  color: #047261;
}

#compose:hover {
  background-color: white;
}