.new-tweet {
  position: relative;
  margin: 0 2em;
  background-color: #eee;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  padding: 0 0.5em 0.5em;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
}

.new-tweet form textarea {
  width: 100%;
  padding: 0.5em;
} 

.counter {
  float: right;
  font-style: italic;
  margin: 0.5em;
}

.negative {
  color: red;
}

.validation-error {
  position: relative;
  bottom:0.5em;
  color: red;
  font-weight: bold;
}